/.phpunit.cache
/node_modules
/coverage
/build
/dist
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*.log
/vendor
.env*
!.env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
/npm-debug.log*
/yarn-debug.log*
/pnpm-debug.log*
/error_log
/composer.phar
/auth.json
/.npmrc
!/.npmrc.example
*.pem
*.key
*.p12
*.pfx
.DS_Store
Thumbs.db
/.fleet
/.idea
/.nova
/.vscode
/.zed
